/* NavBar */

.masthead-nav > li > a:hover{
	color: #ff3000;
  border-bottom-color: #ff3000;
}

.masthead-brand {
  color: #ff3000;
}

.masthead {
  position: relative;
}

.site-wrapper-inner {
  vertical-align: top;
}

/* Landing Page */

.btn-default{
  color: #ff3000;
  background-color: #333;
  border-color: #ff3000;
}

/* About Page*/

.btn-external:hover{
  color: white;
  border-color: white;
}

.external_logo{
	margin-right: 15px;
	height: 32px;
	width: 32px;
}

.btn-white{
  color: white;
  border-color: white;
}

.btn-white:hover, .icon-large:hover{
  color: #ff3000;
}

.active, .complete, .form-error{
  color: #ff3000;
}

/* Settings */

.settings-section{
	margin-top: 40px;
}

.settings-section-small{
	margin-top: 10px;
}

.settings-choice{
	width: 100%;
}

.settings-icon{
	margin-right: 10px;
}

.icon-large{
  font-size: 100px;
  border: 1px solid;
  border-radius: 100px;
  padding: 50px;
}
