<div class="inner cover">

  <h1 class="cover-heading">ABOUT</h1>

  <p class="lead">This is just a small pet project by @fbenke to practice and showcase my Angular skills. I know nothing about fitness and healthy exercising. However, I do know stuff about Django and AngularJS.</p>
  <p class="lead">
  	<a href="https://github.com/fbenke" class="btn btn-lg btn-external" target="_blank"><img src="../../images/github.png" class="external_logo">Find me on Github</a>
	<a href="https://twitter.com/fbenke" class="btn btn-lg btn-external" target="_blank" ><img src="../../images/twitter.png" class="external_logo">Find me on Twitter</a>
  </p>

</div>


